{% macro modal_edit_mark() %}
<div class="modal-backdrop hidden"></div>
<div class="modal hidden" id="edit-mark-modal">
    <div class="container no-margin no-animation">
        <div class="container-header">
            <h2>Edit Mark</h2>
        </div>
        <div class="container-content" style="padding-top:8px;">
            <p><b>Student Name:</b> <span id="edit-student-name"></span></p>
            <p><b>Evaluation:</b> <span id="edit-evaluation-title"></span></p>
            <p><b>Grade:</b> <span id="edit-grade"></span></p>
            <br />
            <label for="edit-new-grade">Enter new grade:</label>
            <input id="edit-new-grade" type="text" name="edit-new-grade" style="margin-left:8px;">
            <div style="display:flex;justify-content:space-between;margin-top:16px;">
                <button class="modal-close-button button-secondary" class="button">Close</button>
                <button class="button" id="edit-submit-button" type="submit">Save</button>
            </div>
            <p id="edit-message" class="hidden"></p>
        </div>
    </div>
</div>
{% endmacro %}