{% extends 'base.html' %}

{% block title %}
Anonymous Feedback
{% endblock %}

{% block content %}

<!--Instructor view-->
{%if session['userInfo']['accountType'] == 'ins' %}
<div class="main-container flex-container">
    <div class="flex-left">
        <div class="container">
            <div class="container-header">
                <h2>Feedback recieved</h2>
            </div>
            <div class="container-content">

            </div>
        </div>
    </div>
</div>
{% endif %}


<!--Student view-->
{%if session['userInfo']['accountType'] == 'stu' %}
<div class="main-container flex-container">
    <div class="flex-left">
        <div class="container">
            <div class="container-header">
                <h2>Anonymous Feedback</h2>
            </div>
            <div class="container-content">
                <div class="question">
                <span class="quesiton-tile">What do you like about the instructors teaching?</span>
                    <form>
                        <textarea class="feedback-form" name="ins_likes"
                        placeholder="Please enter your feedback here"></textarea><br>
                    </form>
                </div>
                <div class="question">
                    <span class="quesiton-tile">What do you recommend the instructor to do to improve their teaching?</span>
                        <form>
                            <textarea class="feedback-form" name="ins_suggestions"
                            placeholder="Please enter your feedback here"></textarea><br>
                        </form>
                    </div>
                <div class="question">
                <span class="quesiton-tile">What do you like about the labs?</span>
                    <form>
                        <textarea class="feedback-form" name="labs_likes"
                        placeholder="Please enter your feedback here"></textarea><br>
                    </form>
                </div>
                <div class="question">
                    <span class="quesiton-tile">What do you recommend the lab instructors to do to improve their lab teaching?</span>
                        <form>
                            <textarea class="feedback-form" name="labs_suggestions"
                            placeholder="Please enter your feedback here"></textarea><br>
                        </form>
                    </div>
            </div>
            <div style="display:flex;justify-content:end;margin-top:8px;">
                <button class="button" type="submit">Submit Feedback</button>
            </div>
        </div>
    </div>
    <div class="flex-right">
        <div class="container">
            <div class="container-header">
                <h2>Remark</h2>
            </div>
            <div class="container-content">
                <p>We'd love to hear from you! Your opinions make us improve.</p>
                <p>All feedbacks are anonymous.</p>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}