{% extends 'base.html' %}

{% block title %}
Course Team
{% endblock %}

{% block content %}
<div class="main-container">
    <div class="no-flex">
        <div class="container">
            <div class="container-header">
                <h2>Course Team</h2>
            </div>
            <div class="container-content flex">
                <div class="flex-left">
                    <p>Purva Gawde</p>
                    <p>Purva is the course coordinator, which means that she deals with all administrative matters:
                        missed
                        work,
                        problems with your grades, and TA issues.</p>
                    <p>Email: <a rel="noreferrer" href="mailto:purva.gawde@utoronto.ca">purva.gawde@utoronto.ca</a>
                    </p>
                    <br />
                    <p>Office Hours:</p>
                    <p>Location: IA 4056</p>
                    <p>Time: Monday 11:00 to 12:00</p>
                </div>
                <div class="flex-right" style="display:flex;justify-content:right;">
                    <img src="./{{ url_for('static', filename='assets/purva.png')}}" alt="Purva Gawde" style="margin-right:24px;">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}