{% extends "base.html" %}
{% from 'components/modal_manage_feedback.html' import modal_manage_feedback %}
{% block title %} Feedback received {% endblock %}
{% block head %}
<script src="{{ url_for('static', filename='js/feedback-received.js') }}"></script>
{% endblock %}
{% block content %}
<div class="main-container">
    <div class="container">
        <div class="container-header space-between">
            <h2>Feedback Received</h2>
            <p><a href="/" class="no-decoration">Return to Dashboard</a></p>
        </div>
        <div class="container-content">
            <div class="feedback-table">
                <div class="table-header">
                    <div class="header-cell">Feedback</div>
                    <div class="header-cell">Status</div>
                    <div class="header-cell">Manage</div>
                </div>

                {% for feedback in feedback_list %}
                <div class="table-row feedback-row" data-feedback-id="{{ feedback.feedbackId }}"
                    data-status="{{ feedback.status }}">
                    <div class="table-cell">
                        <p class="truncate-text">{{ feedback.jsonFeedback }}</p>
                    </div>
                    <div class="table-cell">
                        <p>{{ feedback.status }}</p>
                    </div>
                    <div class="table-cell">
                        <button class="view-feedback-button" data-feedback-id="{{ feedback.feedbackId }}"
                            data-feedback="{{ feedback.jsonFeedback }}" data-status="{{ feedback.status }}">
                            View
                        </button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}