{% extends 'base.html' %}

{% block title %} Grades {% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='js/grades.js') }}"></script>
{% endblock %}

{% block content %}
<div class="main-container flex-container">
    <div class="flex-left">
        <div class="container">
            <div class="container-header">
                <h2>Student grades</h2>
            </div>
            <div class="container-content">
                <div style="display:flex;justify-content:space-between;">
                    <div>
                        <label for="mark-group">Evaluation:</label>
                        <select id="mark-group-id" name="mark-group">
                            <option value="-1" selected>All</option>
                            {% for mark_group in all_mark_groups %}
                            <option value="{{ mark_group.groupId }}">{{
                                mark_group.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <input id="filter-student" type="text" name="filter-student" placeholder="Student Name / ID">
                    </div>
                </div>
                <div class="grades-table">
                    <div class="table-header">
                        <div class="header-cell">Evaluation</div>
                        <div class="header-cell">Student</div>
                        <div class="header-cell">Grade</div>
                        <div class="header-cell">Remark Request</div>
                    </div>

                    {% for mark in instructor_marks %}
                    <div class="table-row mark-group-row" data-mark-group-id="{{ mark[1].groupId }}"
                        data-student-name="{{ mark[0].displayName }}" data-student-id="{{ mark[0].studentId }}">
                        <div class="table-cell">
                            <h3>{{ mark[1].title }}</h3>
                        </div>
                        <div class="table-cell">
                            <p>{{ mark[0].displayName }}</p>
                        </div>
                        <div class="table-cell">
                            <p>{{mark[2].grade * 100 // mark[1].maxGrade}}% ({{ mark[2].grade }}/{{ mark[1].maxGrade }})
                            </p>
                        </div>
                        <div class="table-cell">
                            {% if mark[3] %}
                            <p>
                                <span data-request-id="{{ mark[3].requestId }}">{{ mark[3].status }}</span>
                                (<a class="view-remark-request-button" href="#"
                                    data-request-id="{{ mark[3].requestId }}"
                                    data-student-name="{{ mark[0].displayName }}"
                                    data-evaluation-title="{{ mark[1].title }}" data-grade="{{ mark[2].grade }}"
                                    data-max-grade="{{ mark[1].maxGrade }}" data-reason="{{ mark[3].reason }}"
                                    data-status="{{ mark[3].status }}">View</a>)
                            </p>
                            {% else %}
                            <p>N/A</p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="flex-right">
        <div class="container">
            <div class="container-header">
                <h2>Remark Requests</h2>
            </div>
            <div class="container-content">
                <p>Welcome back, {{ session['userInfo']['displayName'] }}!</p>
                <p>Click <a href="/grades/remark">here to view remark requests</a></p>
            </div>
        </div>
    </div>
</div>

<div class="modal-backdrop hidden"></div>
<div class="modal hidden" id="manage-regrade-modal">
    <div class="container no-margin">
        <div class="container-header">
            <h2>Manage Regrade Request</h2>
        </div>
        <div class="container-content" style="padding-top:8px;">
            <p><b>Student Name:</b> <span id="regrade-student-name"></span></p>
            <p><b>Evaluation:</b> <span id="regrade-evaluation-title"></span></p>
            <p><b>Grade:</b> <span id="regrade-grade"></span></p>
            <p><b>Status:</b> <span id="regrade-status"></span></p>
            <br />
            <p><b>Reason for regrade:</b></p>
            <p><span id="regrade-reason"></span></p>
            <div style="display:flex;justify-content:space-between;margin-top:16px;">
                <button class="modal-close-button button-secondary" class="button">Close</button>
                <div style="display:flex;gap:8px;">
                    <button class="button button-secondary manage-regrade-button" type="submit"
                        data-status="Pending">Pending</button>
                    <button class="button button-error manage-regrade-button" type="submit"
                        data-status="Rejected">Reject</button>
                    <button class="button button-success manage-regrade-button" type="submit"
                        data-status="Approved">Approve</button>
                </div>
            </div>
            <p id="regrade-message" class="hidden"></p>
        </div>
    </div>
</div>
{% endblock %}