{% extends 'base.html' %}
{% from 'components/grades_table_row_student.html' import grades_table_row_student %}
{% from 'components/modal_regrade_request.html' import modal_regrade_request %}

{% block title %} Grades {% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='js/grades.js') }}"></script>
{% endblock %}

{% block content %}
<div class="main-container">
    <div class="flex-container">
        <div class="no-flex">
            <div class="container">
                <div class="container-header">
                    <h2>Marks for {{ session['userInfo']['displayName'] }}</h2>
                </div>
                <div class="container-content">
                    <p>You can view your marks here and submit remark requests, if necessary.</p>
                    <p>Please note that your work will be re-evaulated entirely and we may add and/or deduct marks when you submit a remark request.</p>
                    <p>You can only submit a remark request once and you may not edit it once you submitted it.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="contain-33 flex-container">
        <div class="flex-33">
            <div class="container">
                <div class="container-header">
                    <h2>All Assignments</h2>
                </div>
                <div class="container-content">
                    <div class="grades-table">
                        <div class="table-header">
                            <div class="header-cell">Evaluation</div>
                            <div class="header-cell">Mark</div>
                            <div class="header-cell">Remark</div>
                        </div>
                        {% for mark in student_marks %}
                            {% if ("assignment" in mark[1].title.lower()) %}
                                {{ grades_table_row_student(mark, current_time) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-33">
            <div class="container">
                <div class="container-header">
                    <h2>Labs/Tutorials</h2>
                </div>
                <div class="container-content">
                    <div class="grades-table">
                        <div class="table-header">
                            <div class="header-cell">Evaluation</div>
                            <div class="header-cell">Mark</div>
                            <div class="header-cell">Remark</div>
                        </div>
                        {% for mark in student_marks %}
                            {% if ("lab" in mark[1].title.lower() or "tutorial" in mark[1].title.lower()) %}
                                {{ grades_table_row_student(mark, current_time) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-33">
            <div class="container">
                <div class="container-header">
                    <h2>Exams</h2>
                </div>
                <div class="container-content">
                    <div class="grades-table">
                        <div class="table-header">
                            <div class="header-cell">Evaluation</div>
                            <div class="header-cell">Mark</div>
                            <div class="header-cell">Remark</div>
                        </div>
                        {% for mark in student_marks %}
                            {% if ("exam" in mark[1].title.lower() or "midterm" in mark[1].title.lower() or "final" in mark[1].title.lower()) %}
                                {{ grades_table_row_student(mark, current_time) }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ modal_regrade_request() }}
{% endblock %}