{% extends 'base.html' %}

{% block title %} Grades {% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='js/regrade.js') }}"></script>
{% endblock %}

{% block content %}
<div class="main-container flex-container">
    <div class="flex-left">
        <div class="container">
            <div class="container-header">
                <h2>All Assignments</h2>
            </div>
            <div class="container-content">
                <div class="grades-table">
                    <div class="table-header">
                        <div class="header-cell">Evaluation</div>
                        <div class="header-cell">Grade</div>
                        <div class="header-cell">Action</div>
                    </div>
                    {% for mark in student_marks %}
                        {% if ("assignment" in mark[1].title.lower()) %}
                        <div class="table-row">
                            <div class="table-cell">{{ mark[1].title }}</div>
                            {% if mark[1].releasedAt <= current_time %}
                                <div class="table-cell">{{ 100 * mark[0].grade // mark[1].maxGrade }}% ({{ mark[0].grade }}/{{ mark[1].maxGrade }})</div>
                            {% endif %}
                            <div class="table-cell">
                                {% if not mark[2] and mark[1].releasedAt <= current_time %}
                                <button class="regrade-button" data-mark-id="{{ mark[0].markId }}" data-mark-group-title="{{ mark[1].title }}">Request Regrade</button>
                                {% elif mark[2] %}
                                <span class="muted">Regrade Requested</span>
                                {% else %}
                                <span class="muted">Not released yet</span>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="flex-left">
        <div class="container">
            <div class="container-header">
                <h2>Labs/Tutorials</h2>
            </div>
            <div class="container-content">
                <div class="grades-table">
                    <div class="table-header">
                        <div class="header-cell">Evaluation</div>
                        <div class="header-cell">Grade</div>
                        <div class="header-cell">Action</div>
                    </div>
                    {% for mark in student_marks %}
                        {% if ("lab" in mark[1].title.lower() or "tutorial" in mark[1].title.lower()) %}
                        <div class="table-row">
                            <div class="table-cell">{{ mark[1].title }}</div>
                            {% if mark[1].releasedAt <= current_time %}
                                <div class="table-cell">{{ 100 * mark[0].grade // mark[1].maxGrade }}% ({{ mark[0].grade }}/{{ mark[1].maxGrade }})</div>
                            {% endif %}
                            <div class="table-cell">
                                {% if not mark[2] and mark[1].releasedAt <= current_time %}
                                <button class="regrade-button" data-mark-id="{{ mark[0].markId }}" data-mark-group-title="{{ mark[1].title }}">Request Regrade</button>
                                {% elif mark[2] %}
                                <span class="muted">Regrade Requested</span>
                                {% else %}
                                <span class="muted">Not released yet</span>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="flex-left">
        <div class="container">
            <div class="container-header">
                <h2>Exams</h2>
            </div>
            <div class="container-content">
                <div class="grades-table">
                    <div class="table-header">
                        <div class="header-cell">Evaluation</div>
                        <div class="header-cell">Grade</div>
                        <div class="header-cell">Action</div>
                    </div>
                    {% for mark in student_marks %}
                        {% if ("exam" in mark[1].title.lower() or "midterm" in mark[1].title.lower() or "final" in mark[1].title.lower()) %}
                        <div class="table-row">
                            <div class="table-cell">{{ mark[1].title }}</div>
                            {% if mark[1].releasedAt <= current_time %}
                                <div class="table-cell">{{ 100 * mark[0].grade // mark[1].maxGrade }}% ({{ mark[0].grade }}/{{ mark[1].maxGrade }})</div>
                            {% endif %}
                            <div class="table-cell">
                                {% if not mark[2] and mark[1].releasedAt <= current_time %}
                                <button class="regrade-button" data-mark-id="{{ mark[0].markId }}" data-mark-group-title="{{ mark[1].title }}">Request Regrade</button>
                                {% elif mark[2] %}
                                <span class="muted">Regrade Requested</span>
                                {% else %}
                                <span class="muted">Not released yet</span>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-backdrop hidden"></div>
<div class="modal hidden" id="regrade-modal">
    <div class="container no-margin">
        <div class="container-header">
            <h2>Regrade Request</h2>
        </div>
        <div class="container-content" style="padding-top:8px;">
            <p>You are submitting a regrade request for <span id="regrade-evaluation-title"></span>.</p>
            <p>Please explain to us why we should re-evaluate your work:</p>
            <textarea id="regrade-reason" class="feedback-form"
            placeholder="The TA made a glaring mistake..."></textarea><br>
            <div style="display:flex;justify-content:end;margin-top:8px;">
                <button id="regrade-submit-button" class="button" type="submit">Submit</button>
            </div>
            <p id="regrade-message" class="hidden"></p>
        </div>
    </div>
</div>
{% endblock %}