{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block head %}
<script src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}

{% block content %}
<div class="main-container flex-container">
    <div class="flex-left">
        {% if session['userInfo'] %}
        <div class="container">
            <div class="container-header">
                <h2>Welcome back, {{ session['userInfo']['displayName'] }}!</h2>
            </div>
            <div class="container-content">
                {% if session['userInfo']['accountType'] == 'stu' %}
                    <p>You can <a href="/grades">View Marks</a> | <a href="/anonymous-feedback">Submit Anonymous Feedback</a> | <a href="#" id="logout-button">Logout</a></p>
                    <p>You may also submit a regrade request in the grading page.</p>
                {% elif session['userInfo']['accountType'] == 'ins' %}
                    <p>You can <a href="/grades">Manage Marks & Remark Requests</a> | <a href="/anonymous-feedback">View Anonymous Feedback</a> | <a href="#" id="logout-button">Logout</a></p>
                {% endif %}
            </div>
        </div>
        {% endif %}
        <div class="container">
            <div class="container-header">
                <h2>Welcome to CSCB20 Winter 2025!</h2>
            </div>
            <div class="container-content">
                <p>This course provide a hands-on introduction to databases and web application development. You
                    will gain both theoretical knowledge and practical skills to build a solid foundation in these
                    areas.</p>
                <h3>What You'll Learn:</h3>
                <ul>
                    <li>Databases:</li>
                    <ul>
                        <li>Key terminology and practical applications</li>
                        <li>Creating, querying, and updating databases</li>
                        <li>Designing databases using the entity-relationship model</li>
                    </ul>
                    <br />
                    <li>Web Development:</li>
                    <ul>
                        <li>Building static and interactive web documents</li>
                        <li>Setting up web servers and generating dynamic, server-side content</li>
                        <li>Developing web applications integrated with databases</li>
                    </ul>
                </ul>
                <p>We're excited to have you in the course and look forward to helping you develop valuable skills
                    in databases and web development!</p>

                <h3>How The Course Is Run</h3>
                <p>Each week, we will meet twice, once for the lecture and once for the tutorial. Both lectures and
                    tutorials
                    will be in person and will not be recorded.</p>
            </div>
        </div>
        <div class="container">
            <div class="container-header">
                <h2>Coursework Breakdown</h2>
            </div>
            <div class="container-content">
                {% if session['userInfo'] %}
                <ul>
                    <li>Assignments (33%)</li>
                    <ul>
                        <li>Assignment 1: 8%</li>
                        <li>Assignment 2: 10%</li>
                        <li>Assignment 3: 15%</li>
                        <li>
                            <p>Assignments will cover material from 2-3 weeks and will be posted on Quercus. </p>
                        </li>
                    </ul>
                </ul>
                <br />
                <ul>
                    <li>Mid-Term (25%)</li>
                    <ul>
                        <li>The mid-term exam will be held in-person during lecture time.</li>
                        <li><strong>Tentative Date: February 28</strong></li>
                        <li>Duration: 120 minutes</li>
                    </ul>
                </ul>
                <br />
                <ul>
                    <li>Tutorial Attendance (2%)</li>
                    <ul>
                        <li>Tutorials will include collaborative problem-solving and practical demonstrations of
                            concepts covered in class.</li>
                        <li>Attendance will be recorded, and you must attend at least 7 tutorials to earn these
                            marks. </li>
                        <li>Tutorials are not graded, and problems solved during tutorials are for practice only.
                        </li>
                        <li>If you are unable to attend a tutorial, please submit a valid reason.</li>
                    </ul>
                </ul>
                <br />
                <ul>
                    <li>Final Exam (40%)</li>
                    <ul>
                        <li>There will be one in-person final exam for the course.</li>
                        <li><strong>Note:</strong> You must score at least 35% on the final exam to pass the
                            course.
                        </li>
                    </ul>
                </ul>
                {% else %}
                <p>Please <a href="/login">login</a> to view course breakdown.</p>
                {% endif %}
            </div>
        </div>
        <div class="container">
            <div class="container-header">
                <h2>Academic Integrity</h2>
            </div>
            <div class="container-content">
                <p>All of the work you submit must be done by you, and your work must not be submitted by someone
                    else. Plagiarism is academic fraud and is taken very seriously. The department uses software
                    that compares programs for evidence of similar code. Please read the Rules and Regulations from
                    the U of T Governing Council, especially the Code of Behaviour on Academic Matters.</p>
                <p>Please also see the information for students from the Office of Student Academic Integrity.</p>
                <p>Please don't copy. We want you to succeed and are here to help.</p>
                <p>The simplest advice for avoiding plagiarism is:</p>
                <ul>
                    <li>Never look at another student's assignment solution (except for your teammates, if
                        collaboration is allowed). This includes solutions on paper, computer screens, or any other
                        medium. Similarly, never show your assignment solution to another student. This rule applies
                        to all stages of your work, including drafts and incomplete solutions.</li>
                    <li>If you find code on the web that solves part or all of an assignment, do not use or submit
                        any part of it. A large percentage of the academic offences in CS involve students who have
                        never met, and who just happened to find the same solution online. If you find a solution,
                        someone else will too.
                    </li>
                    <li><strong>Be very careful</strong> when engaging "tutoring services". In previous years, we
                        had students suspended from the university as a result of submitting work that was done with
                        the "help" of such "tutors". When in doubt whether a tutoring company is offering real
                        teaching or is helping students cheat, do not hesitate to ask your instructor — we are here
                        to help!</li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="container-header">
                <h2>Accessibility Statement</h2>
            </div>
            <div class="container-content">
                <p>Students with diverse learning styles and needs are welcome in this course. In particular, if you
                    have a
                    disability/health consideration that may require accommodations, please feel free to approach
                    your
                    instructor, course coordinator, and/or the <a
                        href="https://www.utsc.utoronto.ca/ability/">AccessAbility
                        Services Office</a> as soon as possible. I will work with you and AccessAbility Services to
                    ensure
                    you
                    can achieve your learning goals in this course. Enquiries are confidential.</p>
            </div>
        </div>
        <div class="container">
            <div class="container-header">
                <h2>Diversity Statement</h2>
            </div>
            <div class="container-content">
                <p>Diversity is central to who we are and what we do at the University of Toronto Scarborough. We
                    believe it
                    is
                    vital to foster diversity in all facets of our campus culture. In this course, it is the
                    responsibility
                    of
                    each and every one of us — the instructors, the teaching assistants, and, most importantly, the
                    students
                    —
                    to provide a welcoming and supportive environment for all. If you have a concern, please feel
                    free
                    to
                    approach your instructor/course coordinator, or the <a rel="noreferrer" target="_blank"
                        href="https://edio.utsc.utoronto.ca">UTSC
                        Equity &
                        Diversity Office</a> as soon as possible. Enquiries are confidential.</p>
            </div>
        </div>
    </div>
    <div class="flex-right">
        {% if not session['userInfo'] %}
        <div class="container">
            <div class="container-header">
                <h2>Login</h2>
            </div>
            <div class="container-content">
                <div>
                    <label for="utorid">UTORid</label><br />
                    <input id="login-utorid" type="text" name="utorid" class="fullwidth" required>
                </div>
                <div>
                    <label for="password">Password</label><br />
                    <input id="login-password" type="password" name="password" class="fullwidth" required>
                </div>
                <p>Don't have an account? <a href="/signup">Sign Up</a></p>
                <button id="login-button" class="fullwidth mt-4">Login</button>
                <p id="login-message" class="{{ 'hidden' if not message else 'error-message' }}">{{ message }}</p>
            </div>
        </div>
        {% endif %}
        <div class="container">
            <div class="container-header">
                <h2>Contact Information</h2>
            </div>
            <div class="container-content">
                <img src="./{{ url_for('static', filename='images/purva.png')}}" alt="Purva Gawde">
                <p>Purva Gawde</p>
                <p>Purva is the course coordinator, which means that she deals with all administrative matters:
                    missed
                    work,
                    problems with your grades, and TA issues.</p>
                {% if session['userInfo'] %}
                <p>Email: <a rel="noreferrer" href="mailto:purva.gawde@utoronto.ca">purva.gawde@utoronto.ca</a></p>
                <br />
                <p>Office Hours:</p>
                <p>Location: IA 4056</p>
                <p>Time: Monday 11:00 to 12:00</p>
                {% else %}
                <p>Please <a href="/login">login</a> to access detailed information.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}