{% extends 'base.html' %}

{% block title %}
Lecture Notes
{% endblock %}

{% block content %}
<div class="main-container">
    <div class="flex-container">
        <div class="flex-left-half">
            <div class="container">
                <div class="container-header">
                    <h2>Week 0: Introduction</h2>
                </div>
                <div class="container-content">
                    <a target="_blank" rel="noreferrer" href="{{ url_for('static', filename='assets/LectureNotes.pdf')}}">Download LectureNotes</a>
                </div>
            </div>
        </div>

        <div class="flex-right-half">
            <div class="container">
                <div class="container-header">
                    <h2>Week 1: Relational Algebra</h2>
                </div>
                <div class="container-content">
                    <a target="_blank" rel="noreferrer" href="{{ url_for('static', filename='assets/LectureNotes.pdf')}}">Download LectureNotes</a>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-container">
        <div class="flex-left-half">
            <div class="container">
                <div class="container-header">
                    <h2>Week 2: RelAlg Wrap-Up and Intro to SQL</h2>
                </div>
                <div class="container-content">
                    <a target="_blank" rel="noreferrer" href="{{ url_for('static', filename='assets/LectureNotes.pdf')}}">Download LectureNotes</a>
                </div>
            </div>
        </div>

        <div class="flex-right-half">
            <div class="container">
                <div class="container-header">
                    <h2>Week 3: SQL Queries</h2>
                </div>
                <div class="container-content">
                    <a target="_blank" rel="noreferrer" href="{{ url_for('static', filename='assets/LectureNotes.pdf')}}">Download LectureNotes</a>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-container">
        <div class="flex-left-half">
            <div class="container">
                <div class="container-header">
                    <h2>Week 4: SQL Subqueries and Intro to WebDev</h2>
                </div>
                <div class="container-content">
                    <a target="_blank" rel="noreferrer" href="{{ url_for('static', filename='assets/LectureNotes.pdf')}}">Download LectureNotes</a>
                </div>
            </div>
        </div>

        <div class="flex-right-half">
            <div class="container">
                <div class="container-header">
                    <h2>Week 5: Intro to Flask and HTML/CSS</h2>
                </div>
                <div class="container-content">
                    <a target="_blank" rel="noreferrer" href="{{ url_for('static', filename='assets/LectureNotes.pdf')}}">Download LectureNotes</a>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-container">
        <div class="flex-left-half">
            <div class="container">
                <div class="container-header">
                    <h2>Week 6: MidTerm</h2>
                </div>
                <div class="container-content">
                    No LectureNotes this week!
                </div>
            </div>
        </div>

        <div class="flex-right-half">
            <div class="container">
                <div class="container-header">
                    <h2>Week 7: Media Queries and Intro to JS</h2>
                </div>
                <div class="container-content">
                    <a target="_blank" rel="noreferrer" href="{{ url_for('static', filename='assets/LectureNotes.pdf')}}">Download LectureNotes</a>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-container">
        <div class="flex-left-half">
            <div class="container">
                <div class="container-header">
                    <h2>Week 8: Flask and SQL</h2>
                </div>
                <div class="container-content">
                    <a target="_blank" rel="noreferrer" href="{{ url_for('static', filename='assets/LectureNotes.pdf')}}">Download LectureNotes</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}